@import "variables.css";

/* Remove extra margin from articles on single post pages. */

.single .site-main > article,
.page .site-main > article {
	margin-bottom: 0;
}

/* Remove some top padding if the first block on the page is a full-width image, cover, media & text, or group block. */

.single.hide-post-and-page-titles .entry-content > .wp-block-image.alignfull:first-child,
.page.hide-post-and-page-titles .entry-content > .wp-block-image.alignfull:first-child,
.single.hide-post-and-page-titles .entry-content > .wp-block-cover.alignfull:first-child,
.page.hide-post-and-page-titles .entry-content > .wp-block-cover.alignfull:first-child,
.single.hide-post-and-page-titles .entry-content > .wp-block-media-text.alignfull:first-child,
.page.hide-post-and-page-titles .entry-content > .wp-block-media-text.alignfull:first-child,
.single.hide-post-and-page-titles .entry-content > .wp-block-group.has-background.alignfull:first-child,
.page.hide-post-and-page-titles .entry-content > .wp-block-group.has-background.alignfull:first-child {
	margin-top: calc(-1 * var(--global--spacing-vertical));
}

/* Remove some bottom padding if the last block on the page is a full-width image, cover, media & text, or group block. */

.page.hide-site-footer .entry-content > .wp-block-image.alignfull:last-child,
.page.hide-site-footer .entry-content > .wp-block-cover.alignfull:last-child,
.page.hide-site-footer .entry-content > .wp-block-media-text.alignfull:last-child,
.single.hide-site-footer.hide-site-footer .entry-content > .wp-block-group.has-background.alignfull:last-child,
.single.hide-site-footer.hide-comments .entry-content > .wp-block-image.alignfull:last-child,
.single.hide-site-footer.hide-comments .entry-content > .wp-block-cover.alignfull:last-child,
.single.hide-site-footer.hide-comments .entry-content > .wp-block-media-text.alignfull:last-child,
.single.hide-site-footer.hide-comments .entry-content > .wp-block-group.has-background.alignfull:last-child {
	margin-bottom: calc(-1 * var(--global--spacing-vertical));
}

/* Center-align headers and footers. */

.entry-header,
.page-title,
.entry-footer,
.site-info,
.footer-menu {
	text-align: center;
}

a{
	text-decoration: none;
}


body{
	background: var(--global--color-blue);
}